body {
	background-color:white;
	font-family: Helvetica, Verdana, Times, serif; 
	margin-right:5px; 
	margin-top:5px;
	line-height: 150%; 
	font-size: 16px; 
	color:black;
	padding-left:50px;
}

/* Title Bar */
#header        { position:absolute; top:0px; left:0px;	width:100%;	height:40px; background-color: #625750; color:white;
				 table-layout:auto; border-collapse: collapse; margin-bottom:0px; margin-top:0px; margin-right:20px;}

#hamburgerCol  { width:20% }
#leftArrowCol  { float:right; ; padding-top:10px }
#titleDiv      { font-size:24px; text-align:center}
#rightArrowCol { float:left; padding-top:10px}
#referenceCol   { width:20%; text-align:right; padding-right:20px }
#referenceDropDown { position:absolute; top:40px; right:0; background-color:#625750; display:none; }
#references		   { font-size:16px; }
#hamburgerMenu { position:absolute;	top:3px; left:5px;  width:30px; height:25px; background-color: #625750; }
#hamburger 	   {										width:30px; height: 5px; background-color: white;	margin: 5px;  }

/* Left side menu */
#menu  { display:none; position:absolute;	top:40px; left:0px;	width:200px;height:90%;  background-color:#625750;  color:white; overflow-y:auto; overflow-x:hidden; padding-left:5px; }
#menuX { float:right; font-size:24px; padding-right:10px; cursor:pointer;  }
.items 	   { padding-left:20px;	display: none; } /* Top level menu item  */
.item 	   { padding-left:0px;}
.item a    { color:white; text-decoration:none;}						 /* make all links in this div white */
.menuItem 	   { display:block; color:white; } 					 /* sub menu items 		 */
img.dn 		   { display:none; }
img.rt 		   {}
label  		   { color:white; }



/* Div to host currect chapter*/
#chapterDiv	   { position:absolute; left:8px; top:47px; width:950px; height:100%; }


/* All MATH css */
input 	 { font-family: Times New Roman;  }
input.c1 { width:10px;	}
input.c2 { width:10px;}
input.c3 { width:20px;}
input.c4 { width:25px;}
input.c5 { width:40px;}
input.c6 { width:60px; }
input.c7 { width:40px; }

equ 	{ font-family: Times New Roman;	font-size:110%;font-style:italic;}	/*custom div*/
errMsg  { display:block; color:red; padding-top:10px; }
.hidden { display: none;}

.row  {}
.col1 {width:100px;  vertical-align:top; }
.col2 {width:700px;	 vertical-align:top; }


/* smartphones, touchscreens */
@media (pointer:coarse) 
{
	/* Overrides for small screen*/
	#hamburgerMenu { left:25px; }
	#menuX 		{ font-size:40px; }
	#chapterDiv	{ left:25px;  }
	#menu 		{ width:700px; padding-left:15px; }
	body,td,input,button 	{ font-size:40px;}

	img.dn 		{ width:40 }
	img.rt 		{ width:40 }
	.menuItem 	{ padding-left:50px;} 					 /* sub menu items 		 */
	
	input.c1 { width:30px;	}
	input.c2 { width:50px;}
	input.c3 { width:70px;}
	input.c4 { width:90px;}
	input.c5 { width:110px;}
	input.c6 { width:130px; }
	input.c7 { width:150px; }
	
	
	
	.bigintegral 		   { font-family:Times New Roman; font-size: 175%; top:-5px; padding:20px 0px 20px; display:inline-block; position:relative;}	
	.bigintegral .lowbound { font-size: 50%;  top:18px;    	left: -5px; position:relative; }
	.bigintegral .upbound  { font-size: 50%;  top:-35px;  	left:-10px; position:relative;}
	.bigintegral .function { font-size: 75%;  top:0px;    	left:-5px; 	position:relative;}

	.integral 			{ font-family:Times New Roman; font-size: 125%; top:0px; position:relative;}
	.integral .lowbound { font-size: 50%;  top:12px;    left:-5px; position:relative;}
	.integral .upbound  { font-size: 50%;  top:-20px;  left:-10px; position:relative;}
	.integral .function { font-size: 75%;  top:0px;    left:-5px; position:relative;}

}
@media (pointer:fine) 
{
	.bigintegral 		   { font-family:Times New Roman; font-size: 200%; top:5px; padding:20px 0px 20px; display:inline-block; position:relative;}	
	.bigintegral .lowbound { font-size: 50%;  top:3px;   left: 0px; position:relative; }
	.bigintegral .upbound  { font-size: 50%;  top:-20px; left:-5px; position:relative;}
	.bigintegral .function { font-size: 75%;  top:-5px;  left:-3px; position:relative;}

	.integral 			{ font-family:Times New Roman; font-size: 150%; top:7px; 			position:relative;}
	.integral .lowbound { font-size: 50%;  top:3px;   left: 0px; position:relative;}
	.integral .upbound  { font-size: 50%;  top:-20px; left:-5px; position:relative;}
	.integral .function { font-size: 75%;  top:-5px;  left:-3px; position:relative;}

}

.floatRight {float:right;}
.floatLeft  {float:left; }
.padLeft20  {padding-left:20px;}

