@media (pointer:coarse) 
{
	#hamburgerMenu  { position:absolute;	top:3px; left:25px;  width:30px; height:25px; background-color: #625750; }
	#menu 			{ position:absolute;	top:40px; left:0px;	width:400px; height:90%;  
					  background-color:#625750;  color:white; overflow-y:auto; overflow-x:hidden; padding-left:25px; font-size:50px }
	#menuX			{ float:right; font-size:60px; padding-right:10px; cursor:pointer; position:relative; top:-5px; }

	div.item    { padding-top:20px; } /* Top level menu item  */
	div.items a { padding-top:20px; padding-bottom:10px; color:white; white-space:nowrap; overflow:hidden;  }						 /* make all links in this div white */
	img.dn 		{ width:50; height:auto;}
	img.rt 		{ width:50; height:auto;}
}
@media (pointer:fine) 
{

}
